/*
 *  Author card styles

  1. Containers
  2. Profile picture
  3. Author data
 */

 //
 // Author card containers
 //
.authorcard-wrapper {
  padding-top: 1em;
  margin-bottom: 2em;
}
.authorcard {
  padding:1em 0;
  margin-bottom: 1em;
  text-align: center;
  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
}

//
// Profile picture
//
.authorcard-avatar {
  min-width: 135px;
  margin: 0 auto 1em;
  @media (min-width: $screen-sm-min) {
    padding-right: 1.5em;
    margin: 0;
  }
}
.authorcard-avatar-img {
  max-width: 120px;
  border: 5px solid $gray-lighter;
  @media (min-width: 1600px) {
    max-width: 135px;
  }
}

//
// Author data
//
.authorcard-name {
  text-align: center;
  @media (min-width: $screen-sm-min) {
    margin-top: 0;
    text-align: left;
  }
}
.authorcard-bio {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-family-serif;
  font-style: italic;
  @media (min-width: $screen-sm-min) {
    max-width: 100%;
    font-size: 18px;
  }
}
