/*
 * Footer styles
 */

 .mastfoot {
   // Site footer is absolute positioned to keep it at the bottom of the page
   // when the page content is shorter than the viewport height.
   // If you change the footer height, padding-bottom of the body element set in _global.scss
   // must take into account the new height in order to display the page correctly.
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 96px;
   height: 9.6rem;
   padding: 1em;
   background-color: $gray-lighter;
   text-align: center;
   .social-links {
     margin-bottom: 0;
   }
}
.footer-title {
  color: $gray;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  a, a:hover, a:focus {
    color: inherit;
  }
}
