/*
 * Global styles
 */

html {
  min-height: 100%;
  position: relative;
}
body {
  // Padding bottom of body equal to the height
  // of the absolute positioned site footer.
  padding-bottom: 96px;
  padding-bottom: 9.6rem;
}

//
// Headings
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-family-sans-serif;
}

p { margin: 0 0 1em; }

img { max-width: 100%; }

figcaption {
  padding-top: 0.5em;
  font-family: $font-family-sans-serif;
  font-size: 80%;
  text-align: center;
  a {
    color: inherit;
    text-decoration: underline;
  }
}

blockquote {
  padding-top: 0;
  padding-bottom: 0;
  margin: 1em 0 1em;
  border-left: none;
  font-style: italic;
  font-size: inherit;
  font-family: $font-family-sans-serif;
}

cite {
  font-family: $font-family-sans-serif;
}

q { font-style: italic; }

pre {
  margin-bottom: 2.5em;
  line-height: 1.7em;
}

abbr[title], abbr[data-original-title] {
  text-decoration: none;
}

//
// Tables
table {
  // apply bootstrap styles for tables to table element
  @extend .table;
}
th {
  font-family: $font-family-sans-serif;
  font-weight: 500;
}

// Lists
dd {
  margin-bottom: 1em;
}

// Social icons
//
.social-links .fa {
  color: $gray-dark;
  &:hover, &:focus {
      color: $link-hover-color;
  }
}

//
// Helper class to enable standard transition on an element
.transition-on {
  transition: all 0.5s ease;
}
