/*
 *  Header styles

  1. Top navigation bar
    - Site logo
    - Navigation links
    - Site title
    - Search form
    - Collapsed menu button
  2. tagline
*/


//
// Top navigation bar
//
.navbar-static-top {
  margin-bottom: 0;
  border-bottom: none;
  background-color: $top-nav-bg-clr;
}
//
// Site logo
.navbar-brand img {
  display: inline-block;
  height: 21px;
  margin-bottom: 3px;
}
//
// Site title
.navbar-brand {
  color: $top-nav-title-clr;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 22px;
  &:hover, &:focus {
    color: $top-nav-title-clr;
  }
}
//
// Navigation links
.navbar {
  li a {
    padding-bottom: 12px;
    border-bottom: 2px solid transparent;
    color: $top-nav-link-clr;
    letter-spacing: 0.04em;
    font-weight: bold;
    transition: all 0.5s ease;
  }
  li a:hover, li a:focus {
    border-bottom: 2px solid $top-nav-link-hover-clr;
    color: $top-nav-link-hover-clr;
    background-color: inherit;
  }
}
//
// Search form
.navbar-form {
  margin-bottom: 0;
  margin-top: 8px;
}
.navbar-search-btn {
  padding: 3px 6px 0;
}
//
// Collapsed menu button
.navbar-toggle {
  border-color: $top-nav-toggle-clr;
}
.icon-bar {
  background-color: $top-nav-toggle-clr;
}

//
// Tagline
//
.tagline {
  margin-bottom:0;
  color: $tagline-clr;
  background: $tagline-bg-clr;
}
.tagline-text {
  text-align: center;
  font-weight: 300;
}
