/*
 *  Home page styles

  Post list
    - Date
    - Categories
    - Image
    - Excerpt
    - Read more
    - Pagination
*/

//
// Post list
//
.archive {
  max-width: $archive-width;
  padding-top: 4em;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.7;
  overflow: hidden;
  @media screen and (min-width: $screen-md-min) {
    max-width: $archive-md-width;
    font-size: 18px;
    line-height: 1.6;
  }
}
// Post list item
//
.archivepost {
  padding: 3px 0 ($grid-gutter-width / 2);
  margin: 0 auto 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.archivepost-inner{
  margin-left: $grid-gutter-width / 2;
  margin-right: $grid-gutter-width / 2;
  overflow: hidden;
  @media screen and (min-width: $screen-xs-min) {
    padding: 0 ($grid-gutter-width / 2) 0;
  }
}
.archivepost-meta-container {
  @media screen and (min-width: $screen-xs-min) {
    margin-left: ($grid-gutter-width / 2);
    margin-right: ($grid-gutter-width / 2);
  }
}
//
// Date
.archive-post-date {
  float:left;
  width: 50%;
  text-align: right;
  font-weight: normal;
}
//
// Categories
.archivepost-categories {
  float: left;
  width: 50%;
  padding-top: 5px;
}
//
// Image
.archivepost-image-link { display: block; }
.archivepost-image {
  padding-top: 56.25%;
  margin-bottom: 1em;
  // background image is set inside _includes/related_post.html
  background-size: cover;
  background-position: 50% 50%;
  &:hover, &:focus {
    opacity: 0.8;
  }
}
//
// Title
.archivepost-title,
.archivepost-title:hover,
.archivepost-title:focus {
  display: block;
  color: #333;
}
//
// Excerpt
.archivepost-excerpt {
  font-family: $font-family-serif;
}
//
// Read more button
.readmore {
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  @media screen and (min-width: $screen-xs-min) {
    margin-right: ($grid-gutter-width / 2);
    margin-bottom: ($grid-gutter-width / 2);
  }
}
// Pagination
//
.archive-pagination {
  margin: 0 0 2em;
  text-align: center;
  overflow: hidden;
}
