/*
 *  Styles for site pages

  1. Common styles
  2. Taxonomy pages (categories page and tags page)
  3. Search results page
  4. 404 page

*/

//
// Common styles
//
.page {
  padding-top: 4em;
  margin: 0 auto 3em;
}

//
// Taxonomy pages
//
.taxonomy-title {
  text-transform: capitalize;
}
.taxonomy-post-list {
  list-style-type: none;
}
.taxonomy-post-date {
  white-space: nowrap;
  &::before {
    margin: 0 5px 0 6px;
    color: #999;
    content: "\2022";
  }
}
.taxonomy-inner-list {
  list-style: disc;
  color: #ccc;
}

//
// Search results page
//
.search-results h1 {
  border-bottom: none;
}
.search-results .gsc-result .gs-title {
  height: auto;
}
// Search page spinner
//
.search-loading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.search-spinner {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: .25em solid $gray-lighter;
  border-radius: 50%;
  border-top-color: $brand-primary;
  animation: spin 2s infinite linear;
}

//
// 404 PAGE
//
.ooops .jumbotron {
  padding-top: 0;
  background-color: transparent;
}
