/*
*  Style for single post visualization

    1. Post containers
    2. Post header
    3. Post content
    4. Post footer
        - Social sharing
        - Post navigation
        - Related posts
        - Comments
*/

//
// Post containers
//
.post {
  padding-top: 4em;
  margin: 0 auto 3em;
  @media (min-width: $screen-sm-min) {
    padding-top: 6em;
  }
}
// Helper class to keep an element width equal to the post text width
.post-inner {
  max-width: $post-width;
  margin: auto;
  @media (min-width: $screen-sm-min) {
    max-width: $post-sm-width;
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}

//
// Post Header
//
.post-header {
  margin-bottom: 2em;
  text-align: center;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 3em;
  }
}
.post-categories {
  text-align: left;
}
.post-category {
  display: inline-block;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.post-date {
  margin-bottom: 0;
  margin-top: 0;
  text-align: right;
  font-weight: normal;
}
.post-title {
  margin-left: 0;
  margin-right: 0;
}
// Author name displayed below post title
.post-author {
  padding-bottom: 1em;
  font-style: italic;
}

//
// Post content
//
.post-content {
  font-family: $font-family-serif;
  line-height: 1.7;
  overflow: hidden;
  @media (min-width: $screen-sm-min) {
    font-size: 20px;
    line-height: 1.6;
  }
  h1, .h1,
  h2, .h2,
  h3, .h3 {
    padding-top: 0.7em;
    margin-bottom: 0.5em;
  }
  ul,
  ol,
  p,
  figure {
    margin-bottom: 1.5em;
  }
}

//
// Post footer
//
.article-footer {
  padding-top: 2em;
}
.post-tags {
  padding-top: 1em;
  margin-bottom: 2em;
}
.post-tags-item {
  margin-bottom: 0.5em;
}

// Sharing buttons
.sharing-links { margin-bottom: 2em; }


//
// Post navigation (previous/next article links)
.post-nav {
  padding-top: 2em;
  margin-bottom: 2em;
  list-style: none;
}
.post-nav-link {
  padding-bottom: 0.5em;
  border-bottom: 1px solid $gray-lighter;
  text-decoration: none;
  &:hover, &:focus {
    border-color: $link-hover-color;
    text-decoration: none;
  }
}

// Related posts
.post-related {
  max-width: $post-width;
  padding-top: 1em;
  margin: 0 auto;
  @media (min-width: $screen-sm-min) {
    padding: 1em 0 0;
    max-width: 100%;
  }
}
.post-related-heading {
  display: inline-block;
}
.post-related-image {
  padding-top: 32%;
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);
  margin-bottom: 1em;
  // background image is set inside _includes/related_post.html
  background-size: cover;
  background-position: 50% 50%;
  &:hover, &:focus {
    opacity: 0.8;
  }
}
.post-related-inner {
  padding: 0 ($grid-gutter-width / 2) ($grid-gutter-width / 2);
  margin: 0 auto 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

//
// Comments
//
#disqus_thread {
  padding-top: 3em;
}
