//
// Typography variables
//
$font-family-serif:         Lora, Georgia, "Times New Roman", Times, serif !default;

$font-family-sans-serif:    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif ;

$font-size-base:            16px !default;
$headings-line-height:      1.2 !default;

// Line widthes
$post-sm-width:             720px; // post width on small screens
$post-width:                530px; // post width  on bigger screens
$archive-md-width:          650px; // post width in home page on medium screens
$archive-width:             580px; // post width in home page on bbigger screens

// navbar collapsing threshold
$grid-float-breakpoint:     992px !default;

//
// Colors
//
$brand-primary:             #72ACAB !default;
$top-nav-bg-clr:            $brand-primary !default; // navbar background color
$top-nav-title-clr:         #fff !default; // navbar site title color
$top-nav-link-clr:          #eee !default; // navbar page links color
$top-nav-link-hover-clr:    #fff !default;
$top-nav-toggle-clr:        #fff !default; // collapsed menu button color
$tagline-clr:               #fff !default;
$tagline-bg-clr:            lighten($brand-primary, 20%) !default;
