
{% if post.image contains "://" %}
  {% capture image_path %}{{ post.image }}{% endcapture %}
{% elsif post.image %}
  {% capture image_path %}{{ post.image | absolute_url }}{% endcapture %}
{% else %}
  {% assign image_path = false %}
{% endif %}

<article class="archivepost" itemscope itemtype="http://schema.org/Article">

  <div class="archivepost-inner">

    <!-- POST CATEGORIES -->
    <section class="archivepost-categories">

      {% if post.categories.size > 0 %}
        {% for category in post.categories %}

          <h6 class="post-category">
            <a href="{{ category | slugify | prepend: 'categories/#' | absolute_url }}" itemprop="articleSection">
              {{ category }}{% unless forloop.last %},{% endunless %}
            </a>
          </h6>

        {% endfor %}
      {% endif %}
    </section>

    <!-- POST DATE -->
    <h6 class="archivepost-meta archive-post-date  text-muted">
      <span itemprop="datePublished" content="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %d, %Y" }}</span>
    </h6>

  </div>

  {% if image_path %}
      <!-- POST IMAGE -->
      <a href="{{ post.url | absolute_url }}" class="archivepost-image-link" >
          <div style="background-image: url({{ image_path }})" class="img-responsive archivepost-image transition-on"></div>
      </a>
  {% endif %}

  <div class="archivepost-inner">
    <!-- POST TITLE -->
    <h3 class="text-truncate">
        <a class="archivepost-title" href="{{ post.url | absolute_url }}" itemprop="name">{{ post.title | markdownify | strip_html }}</a>
    </h3>
    <!-- POST EXCERPT -->
    <p class="archivepost-excerpt text-truncate" itemprop="articleBody">{{ post.excerpt | markdownify | strip_html }} </p>
  </div>

  <!-- READ MORE -->
  <div class="readmore-container text-center">
    <a class="btn btn-default btn-sm readmore transition-on" href="{{ post.url | absolute_url }}" itemprop="url">Read More</a>
  </div>

</article>
