
{% if paginator %}
  {% assign posts=paginator.posts %}
{% else %}
  {% assign posts=site.posts %}
{% endif %}

<main class="archive archive-wrapper">

  <div class="">
  <!-- POST LIST -->

    {% for post in posts %}
      {% include archive_post.html %}
    {% endfor %}

    {% if paginator.total_pages > 1 %}
      {% include pagination.html %}
    {% endif %}

  </div>

</main>
