<section class="authorcard-wrapper">

  <div class="authorcard row">

    <!-- PROFILE PICTURE -->
    <div class="authorcard-avatar col-sm-3">
      <img class="authorcard-avatar-img img-circle" src="{{ author.avatar | absolute_url }}" alt="author profile picture">
    </div>

    <!-- AUTHOR NAME, BIO AND SOCIAL LINKS -->
    <div class="authorcard-info col-sm-9">
      <h4 class="authorcard-name">{{ author.name }}</h4>
      <p class="authorcard-bio">{{ author.bio}}</p>
      <div class="authorcard-social">
        {% include social_links.html list=author.social %}
      </div>
    </div>

  </div>

</section>
