
<footer class="mastfoot">

	<!-- SITE TITLE -->
	<h5 class="footer-title"><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></h5>

	<!-- SITE SOCIAL LINKS -->
	{% include social_links.html list=site.social size="fa-lg" %}

</footer>

<!-- ADOBE JAVASCRIPT TO ENABLE DROPCAPS LETTERS -->
<script src="{{ '/assets/js/dropcap.min.js' | absolute_url }}"></script>
<script>
	var dropcap = document.querySelector(".dropcap");
	if (dropcap) {
		window.Dropcap.layout(dropcap, 2);
	}
</script>
<!-- JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- BOOTSTRAP JS-->
<script src="{{ '/assets/js/bootstrap.min.js' | absolute_url }}"></script>
<!-- DISQUS JS -->
<script id="dsq-count-scr" src="//mic-1.disqus.com/count.js" async></script>
