<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}{% comment %} jekyll-seo-tag plugin {% endcomment %}

  <!-- LORA FONT FROM GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <!-- FONT AWESOME -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- STYLESHEET FOR SYNTAX HIGHLIGHTING  -->
  <link href="{{ 'assets/css/syntax.css' | absolute_url }}" rel="stylesheet">

  <!-- SITE STYLESHEET -->
  <link href="{{ 'assets/css/style.css' | absolute_url }}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
