
{% assign home_url = '/' | absolute_url %}

<!-- NAVBAR -->
<nav class="nav navbar navbar-static-top">

  <div class="container">

    <div class="navbar-header">

      <!-- TOGGLE MENU BUTTON -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand navlogo" href="{{ home_url }}">

        <!-- SITE LOGO -->
        {% if site.logo != '' %}
          <span class="sr-only">{{ site.title }}</span>
          <img alt=""  src="{{ site.logo | absolute_url }}">
        {% endif %}

        {% if site.display_title %}
          <!-- SITE TITLE -->
          <span>{{ site.title }}</span>
        {% endif %}

      </a>

    </div>

    <!-- COLLAPSIBLE CONTENT -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">

      <!-- NAVIGATION LINKS -->
      <ul class="nav navbar-nav">
        <li role="presentation"><a href="{{ home_url }}">Home</a></li>
        <li role="presentation" {% if page.url == '/about/' %} class="active" {% endif %}><a href="{{ 'about' | absolute_url }}">About</a></li>
        {% if site.categories.size > 0 %}
          <li role="presentation" {% if page.url == '/categories/' %} class="active" {% endif %}><a href="{{ 'categories' | absolute_url }}">Categories</a></li>
        {% endif %}
        {% comment %} To add a link to a new page, uncomment and properly modify the next line {% endcomment %}
        <!-- <li role="presentation"><a href="{{ 'your-page-link' | absolute_url }}">Your-page-title</a></li> -->
      </ul>

      {% if site.google_cse_id.size > 0 %}

        <!-- SEARCH FORM -->
        <form class="navbar-form navbar-right"  role="search" action="{{ site_url }}{{ site.baseurl }}/search" method="get">
          <div class="input-group input-group-sm">
            <input type="text" name="q" class="form-control transition-on" placeholder="Search">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default btn-sm navbar-search-btn transition-on">
                <span class="fa fa-search" aria-hidden="true"></span>
                <span class="sr-only">Search</span>
              </button>
            </span>
          </div>
        </form>

      {% endif %}

    </div>
    <!-- END COLLAPSIBLE CONTENT -->

  </div>
</nav>
<!-- END NAVBAR -->
