
{% comment %}
  Compute interval of paginator pages that is going to be displayed
{% endcomment %}

{% comment %} Compute the bottom limit {% endcomment %}

{% assign left = site.page_links | divided_by: 2.0 | ceil | minus: 1 %}
{% assign start = paginator.page | minus: left %}
{% assign min_start = paginator.total_pages | minus: site.page_links | plus: 1 %}
{% if start > min_start %}
  {% assign start = min_start %}
{% endif %}
{% if start < 1 %}
  {% assign start = 1 %}
{% endif %}

{% comment %} Compute the upper limit {% endcomment %}

{% assign right = site.page_links | divided_by: 2 %}
{% assign end = paginator.page | plus: right %}
{% if end < site.page_links %}
  {% assign end = site.page_links %}
{% endif %}
{% if end > paginator.total_pages %}
  {% assign end = paginator.total_pages %}
{% endif %}

{% comment %} End compute interval of paginator pages {% endcomment %}

<!-- PAGINATION -->
<nav aria-label="pagination" class="archive-pagination">
  <ul class="pagination">

    {% if paginator.previous_page %}
      <li>
        <a class="transition-on" href="{{ paginator.previous_page_path | absolute_url}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}

    {% for page in (start..end) %}
      <!-- LINKS TO PAGINATION PAGES -->
      {% if page == paginator.page %}
        <li class="active"><span>{{ page }} <span class="sr-only">(current)</span></span>
      {% elsif page == 1 %}
        <li><a class="transition-on" href="/">{{ page }}</a></li>
      {% else %}
        <li><a class="transition-on" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li>
        <a class="transition-on" href="{{ paginator.next_page_path | absolute_url}}" aria-label="Previous">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}

  </ul>
</nav>
<!-- END PAGINATION -->
