
{% assign post=include.post %}

{% comment %} Decide value for image_path {% endcomment %}
{% if post.image contains "://" %}
  {% capture image_path %}{{ post.image }}{% endcapture %}
{% elsif post.image %}
  {% capture image_path %}{{ post.image | absolute_url }}{% endcapture %}
{% else %}
  {% assign image_path = false %}
{% endif %}


<article class="post-related-inner {% unless image_path %}no-image text-center{% endunless %}">
  <a class="archivepost-link" href="{{ post.url | absolute_url }}">
    {% if image_path %}
      <!-- POST IMAGE -->
      <div class="post-related-image  transition-on" style="background-image: url({{ image_path }})"></div>
    {% endif %}
  </a>
  <!-- POST TITLE -->
  <h4 class="text-truncate">
    <a class="archivepost-title" href="{{ post.url | absolute_url }}">{{ post.title | markdownify | strip_html }}</a>
  </h4>
  <!-- POST CATEGORY -->
  <div class="post-related-categories">
  {% if post.categories.size > 0 %}
    {% for category in post.categories %}
      <h6 class="post-category">
        <a href="{{ category | slugify | prepend: 'categories/#'  | absolute_url  }}">
          {{ category }}
        </a>
      </h6>{% unless forloop.last %},{% endunless %}
    {% endfor %}
  {% endif %}
  </div>
</article>
