<!-- SHARING LINKS -->
<div id="share-bar">

  <ul class="sharing-links list-inline text-right">

    <!-- FACEBOOK -->
    <li>
      <a  href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Facebook">
        <span class="fa fa-lg fa-facebook-square" aria-hidden="true"></span>
        <span class="sr-only">Facebook</span>
      </a>
    </li>

    <!-- TWITTER -->
    <li>
      <a  href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ page.url | absolute_url }}"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Twitter" >
        <span class="fa fa-lg fa-twitter" aria-hidden="true"></span>
        <span class="sr-only">Twitter</span>
      </a>
    </li>

    <!-- GOOGLE+ -->
    <li>
        <a  href="https://plus.google.com/share?url={{ page.url | absolute_url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Google+" >
          <span class="fa fa-lg fa-google-plus" aria-hidden="true"></span>
          <span class="sr-only">Google plus</span>
        </a>
    </li>

  </ul>

</div>
