
{% assign list=include.list %}
{% assign size=include.size %}

<ul class="social-links list-inline">

  <!-- FACEBOOK -->
  {% if list['facebook'] %}
    <li>
      <a href="{{ list['facebook'] }}" title="Follow on Facebook">
        <span class="fa {{size}} {{size}} fa-facebook" aria-hidden="true"></span>
        <span class="sr-only">facebook</span>
      </a>
    </li>
  {% endif %}

  <!-- TWITTER -->
  {% if list['twitter'] %}
    <li>
      <a href="{{ list['twitter'] }}" title="Follow on Twitter">
        <span class="fa {{size}} fa-twitter" aria-hidden="true"></span>
        <span class="sr-only">twitter</span>
      </a>
    </li>
  {% endif %}

  <!-- INSTAGRAM -->
  {% if list['instagram'] %}
    <li>
      <a href="{{ list['instagram'] }}"  title="Follow on Instagram">
        <span class="fa {{size}} fa-instagram" aria-hidden="true"></span>
        <span class="sr-only">instagram</span>
      </a>
    </li>
  {% endif %}

  <!-- GOOGLE PLUS -->
  {% if list['google-plus'] %}
    <li>
      <a href="{{ list['google-plus'] }}"  title="Follow on Google+">
        <span class="fa {{size}} fa-google-plus" aria-hidden="true"></span>
        <span class="sr-only">google-plus</span>
      </a>
    </li>
  {% endif %}

  <!-- GITHUB -->
  {% if list['github'] %}
    <li>
      <a href="{{ list['github'] }}"  title="Follow on GitHub">
        <span class="fa {{size}} fa-github" aria-hidden="true"></span>
        <span class="sr-only">github</span>
      </a>
    </li>
  {% endif %}

  <!-- PINTEREST -->
  {% if list['pinterest'] %}
    <li>
      <a href="{{ list['pinterest'] }}"  title="Follow on Pinterest">
        <span class="fa {{size}} fa-pinterest" aria-hidden="true"></span>
        <span class="sr-only">pinterest</span>
      </a>
    </li>
  {% endif %}

  <!-- LINKEDIN -->
  {% if list['linkedin'] %}
    <li>
      <a href="{{ list['linkedin'] }}"  title="Follow on Linkedin">
        <span class="fa {{size}} fa-linkedin" aria-hidden="true"></span>
        <span class="sr-only">linkedin</span>
      </a>
    </li>
  {% endif %}

  <!-- TUMBLR -->
  {% if list['tumblr'] %}
    <li>
      <a href="{{ list['tumblr'] }}"  title="Follow on Tumblr">
        <span class="fa {{size}} fa-tumblr" aria-hidden="true"></span>
        <span class="sr-only">tumblr</span>
      </a>
    </li>
  {% endif %}

  <!-- RSS -->
  {% if list['rss'] %}
    {% if list['rss'] == 'feed.xml' %}
      {% capture feed_url %}{{ 'feed.xml' | absolute_url }}{% endcapture %}
    {% else %}
      {% assign feed_url=list['rss'] %}
    {% endif %}
    <li>
      <a href="{{  feed_url }}">
        <span class="fa {{size}} fa-rss" aria-hidden="true"></span>
        <span class="sr-only">tumblr</span>
      </a>
    </li>
  {% endif %}

</ul>
