{% comment %} Sort the input list alphabetically {% endcomment %}
{% assign sorted_list = include.list | sort %}

<ul class="list-unstyled">

  {% for class in sorted_list %}

    {% capture class_name %}{{ class | first }}{% endcapture %}

    <li  id="{{ class_name | slugify }}">

      <h4 class="taxonomy-title">{{ class_name }}</h4>

      <!-- LIST OF POSTS IN CATEGORY  -->
      <ul class="taxonomy-inner-list">
        {% for post in include.list[class_name] %}
          <li>
            <h5 class="taxonomy-post-title"><a href="{{ post.url | absolute_url }}">{{ post.title | markdownify | strip_html}}</a>  <small class="taxonomy-post-date">{{ post.date | date_to_string }}</small></h5>
          </li>
        {% endfor %}
      </ul>
      <!-- END LIST OF POSTS IN CATEGORY -->

    </li>

  {% endfor %}

</ul>
