---
layout: page
title: Search results
permalink: /search/
---

<div class="search-results">

  <!-- GOOGLE CUSTOM SEARCH ENGINE CODE -->
  <script>
  (function() {
    var cx = "{{ site.google_cse_id }}";
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
  </script>
<gcse:searchresults-only>
    <!-- <gsce:searchresults-only> -->
    <div class="search-loading">
      <span class="search-spinner"></span>
      <div class="text-center h6 text-muted">Loading</div>
    </div>
    </gcse:searchresults-only>
  <!-- </gsce:searchresults-only> -->
  <!-- END GOOGLE CUSTOM SEARCH ENGINE CODE -->

</div>
