---
layout: default
---

<header>
  {% include navbar.html  %}
  {% include tagline.html %}
</header>

<article class="page container {{ page.title | slugify }}">

  <header class="post-header post-inner">
      <h1 class="page-header">{{ page.title | markdownify  | remove: '<p>' | remove: '</p>'  }}</h1>
  </header>

  <div class="post-content post-inner" >
      {{ content }}
  </div>

  <footer>

    {% if page.comments %}

      <!-- POST COMMENTS -->
      <div class="post-inner">
        {% include comments.html %}
      </div>

    {% endif %}

  </footer>
</article>
