---
layout: default
---

{% comment %} Set value of author variable {% endcomment %}
{% if page.display_author %}
  {% if page.author %}
    {% assign author = page.author %}
  {% else %}
    {% assign author = site.author %}
  {% endif %}
{% else %}
  {% assign author = '' %}
{% endif %}

<header>
  {% include navbar.html  %}
  {% include tagline.html %}
</header>

<article class="post container" itemscope itemtype="http://schema.org/Article">

  <div class="post-inner">

    <!-- END POST HEADER -->
    <header class="post-header">

      <!-- POST META -->
      <div class="row">

        <div class="col-xs-6 post-categories">
          {% if page.categories.size > 0 %}
            <!-- POST CATEGORY  -->
            <ul class="list-inline">
              {% for category in page.categories %}
                <li class="post-category text-primary">
                  <h6><a href="{{ 'categories' | absolute_url }}{{ category | slugify | prepend: '/#'  }}" itemprop="articleSection">{{ category }}{% unless forloop.last %},{% endunless %}</a></h6>
                </li>
              {% endfor %}
            </ul>
            <!-- END POST CATEGORY  -->
          {% endif %}
        </div>

        <!-- POST DATE -->
        <div class="col-xs-6">
          <h6 class="post-date small text-muted">
            <span itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date |  date_to_string  }}</span>
          </h6>
        </div>

      </div>
      <!-- END POST META -->

      <!-- POST TITLE -->
      <div class="post-title">
        <h1 class="page-header" itemprop="name">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
      </div>

      {% if author != '' %}
        <!-- POST AUTHOR -->
        <div class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person" ><span class="" itemprop="name">by {{ author.name }}</span></div>
      {% endif %}

    </header>
    <!-- END POST HEADER -->

    <!-- POST CONTENT -->
    <section class="post-content" itemprop="articleBody">
      {{ content }}
    </section>

  </div>

  <!-- POST FOOTER -->
  <footer class="article-footer">

    <div class="post-inner">

      {% if page.display_share_links %}
        {% include sharing_links.html %}
      {% endif %}

      {% if page.tags.size > 0 %}
        <!-- POST TAGS -->
        <ul class="list-inline post-tags">

          {% for tag in page.tags %}
            <li class="post-tags-item">
              <a class="btn btn-default" href="{{ tag | slugify | prepend: 'tags/#' | absolute_url  }}" itemprop="about">{{ tag }}</a>
            </li>
          {% endfor %}

        </ul>
        <!-- END POST TAGS -->
      {% endif %}

      {% if author != '' %}
        <!-- AUTHOR CARD -->
        {% include author_card.html %}
      {% endif %}

      {% if page.previous or page.next %}
        <!-- POST NAVIGATION -->
        <nav aria-label="Page navigation">
          <ul class="post-nav list-inline">
            {% if page.previous %}
              <li>
                <a class="transition-on post-nav-link" href="{{ page.previous.url | absolute_url }}" aria-label="Previous" title="Back: &ldquo; {{ page.previous.title }} &rdquo;">
                  <span aria-hidden="true">&larr; Back</span>
                </a>
              </li>
            {% endif %}
            {% if page.next %}
              <li class="pull-right">
                <a class="transition-on post-nav-link" href="{{ page.next.url | absolute_url }}" aria-label="Next" title="Next: &ldquo; {{ page.next.title }} &rdquo;">
                  <span aria-hidden="true">Next &rarr;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
        <!-- END POST NAVIGATION -->
      {% endif %}

    </div>

    {% if site.related_posts.size > 0 %}
      <!-- RELATED POST -->
      <section>

        <div class="text-center"><h5 class="post-related-heading page-header">Related articles</h5></div>

        <div class="post-related row">
          {% for post in site.related_posts limit:3 %}
            <div class="post-related-article col-sm-4">
              {% include related_post.html %}
            </div>
          {% endfor %}
        </div>

      </section>
      <!-- END RELATED POST -->
    {% endif %}

    {% if page.comments %}
      <!-- POST COMMENTS -->
      <div class="post-inner">
        {% include comments.html %}
      </div>
    {% endif %}

  </footer>
  <!-- END POST FOOTER -->

</article>
